<div class="container con_home">
  
  <div class="row">
    <h1>Select customer</h1>

    <%= form_tag etic_select_customer_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
        <%= submit_tag "all", :name => "all" %>
      </p>
    <% end %>

      <hr>


    <select class="select" id="cust" multiple="multiple" size="10">
      <% @customers.each do |c| %>
      <option value="<%= c.id %>"><%= c.id %> - <%= c.eponimo %> <%= c.name %>  </option>
      <% end %>
    </select>

    </br>

    <button class="btn btn-primary ok">Continue</button>

  </div>
</div>

<script type="text/javascript">

  $(".container").on("click", ".ok", function() {
    
    ti_epeleksa_option = $('#cust').find(":selected").val();

    window.location.href = "<%= etic_new_offer_path %>?customer_id="+ti_epeleksa_option;


  });//end ok

</script>